footer
    p Copyright &copy; Controle de Viagens #{new Date().getFullYear()}
    p
        a(href='https://github.com/rodrigogs/controle-viagens')
            i.fa.fa-github-alt
            | GitHub

        a(href="mailto:rodrigo.smscom@gmail.com?subject=Controle de Viagens - contact")
            i.fa.fa-envelope-o
            | Contato