extends layouts/default

block stylesheets

block javascripts

block content
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.container
        div.navbar-header
          a.navbar-brand(href='#') Controle de Viagens

    div.container

      div.starter-template
        h1 Exemplo de Header
        p.lead Exemplo de lead
            br
            | ..............
    //.container